/*  Index CSS */

/* The individual containment boxes for each product */
.top_movies {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  height: fit-content;
  width: 21%;
  background-color: white;
}

.top_movies p {
  display: flex;
  align-self: center;
  font-style: black;
  font-size: 1.8vh;
}
.top_movies img {
  display: flex;
  align-self: center;
  padding-bottom: 5px;
  width: 15vh;
  height: auto;
}
/* General containment box for the divs */
.containerBox {
  display: flex;
  flex-wrap: wrap;
}

/*  Loading animation from the module 3 */
.loader {
  border: 16px solid white;
  border-top: 16px solid darkred;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* The animation code */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Details CSS */
